# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Data files
*.csv
*.zip
*.tar.gz
*.h5
*.hdf5
*.pkl
*.pickle

# Model weights
*.pth
*.pt
*.onnx

# Kaggle
kaggle.json

# IDE
.idea/
.vscode/
